/*media quaries*/
/*Phone*/
@media only screen and (min-width: 100px){
	* {
	box-sizing: border-box;
	}
	
	body {
		background-color: #060024;
		font-family: 'Bebas Neue';
		font-weight: 400;
		font-style: normal;
		color: white;
		margin: 0;
	}
	
	h1, h2, h3 {
		text-transform: uppercase;
	}
	
	.spacexlogo {
		width: 50%;
		margin: auto;
		display: block;
	}

	.backgroundImage {
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	
	.heading {
		text-align: center;
		font-size: 24px;
	}
	
	
	.flex-container {
	  display: flex;
	  flex-direction: column; 
	  font-size: 32px;
	  flex-wrap: wrap;
	  text-align: center;
	}
	
	.kaartbox, .weerbox, .landingsbox{
	  padding: 10px;
	  flex: 0 0 auto;
	  width: 100%;
	  margin-top: 10px;
	}
	
	.landingsplaats_button {
		background-color:#ffffff;
		color: #060024;
		font-family: 'poppins';
		font-weight: 420;
		font-style: normal;
		border: white 1px solid;
		padding: 10px;
		font-size: 18px;
		margin: 5px;
	}
	
	.landingsplaats_button:hover {
		background-color:#afafaf;
		color: rgb(255, 255, 255);
		border: rgb(255, 255, 255) 1px solid;
		transition: linear;
		transition-duration: 150ms;
	}
	
	
	#map {
	  height: 52vh;
	  width: 90vw;
	  border-radius: 5px;
	}
	
	.popuptext {
		color:black;
	}


/*media quaries*/
/*Tablet*/
@media only screen and (min-width: 600px){
	.flex-container {
		display: flex;
		font-size: 32px;
		text-align: center;
		flex-direction: row;
	  }
	  
	  .weerbox, .kaartbox{
		padding: 10px;
		flex: 0 0 auto;
		width: 50%;
	  }
	  
	  .landingsbox {
		padding: 10px;
		flex: 0 0 auto;
		width: 100%;
	  }
	   
	   .heading {
		  text-align: center;
		  font-size: 30px;
	  }
	  
	  #map {
		height: 52vh;
		width: 46vw;
	  
		}


/*media quaries*/
/*Desktop Small*/
@media only screen and (min-width: 1000px){
	.flex-container {
		flex-direction: row-reverse;
	  }
	  
	  .weerbox, .kaartbox {
		padding: 10px;
		flex: 0 0 auto;
		width: 50%;
	  }
	   
	  .landingsbox {
		padding: 10px;
		flex: 0 0 auto;
		width: 100%;
	  }

	  .backgroundImage {
		width: 100%;
	}
	  
	   .heading {
		  text-align: center;
		  font-size: 36px;
	  }
	  
		}